uploadFolder/**
pgdata
pgdata/**
ui/node_modules
ui/node_modules/**
logs
logs/**
frontend/.DS_Store
frontend/src/.DS_Store
logs/user-activity.log
.DS_Store
target
target/**
rootcert.crt
settings.xml
logs/user-activity.log
Dockerfile
